.default-template {
    min-height: 100vh;

    &.default-bg-white{
        background-color: white;
    }
    &.default-bg-gray{
        background-color: var(--quaternary-light-gray);
    }

    & .main-content {
        margin-top: 68px;
    
        & > :only-child {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }
    }
       
    .default-header {
        position: fixed;
        z-index: 99;
        top: 0;
        width: 100%;
    }
}