.component-category-card {
    display: inline-block;
    max-width: 399px;
    height: 240px;

    .img-container {
        overflow: hidden;
        height: 160px;
        width: 100%;

        img {
            max-width: 100%;
            min-height: 100%;
        }
    }
    
    .description {
        margin: 0;
        color: var(--secondary-deep-blue);
        font-size: .9rem;
    }
}