.component-category-card {
    display: inline-block;
    max-width: 399px;
    height: 240px;
    border: 2px solid #FFF0;

    &.active-category-card{
        border: 2px solid var(--primary-orange);
    }

    .img-container {
        overflow: hidden;
        height: 160px;
        width: 100%;

        img {
            max-width: 100%;
            min-height: 100%;
        }
    }
    
    .description {
        margin: 0;
        color: var(--secondary-deep-blue);
        font-size: .9rem;
    }
}