.component-paginaDetalhes div div button {
  background-color: transparent;
  border: unset;
}

.component-paginaDetalhes .detalhesSegundoCabecalho {
  background-color: var(--secondary-grey);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.component-paginaDetalhes .detalhesSegundoCabecalho p {
  margin: unset;
}

.component-paginaDetalhes .detalhesSegundoCabecalho .local-infobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.component-paginaDetalhes .detalhesSegundoCabecalho .local-infobox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.2rem;
}

.component-paginaDetalhes .detalhesSegundoCabecalho .local-infobox div p {
  color: var(--secondary-deep-blue);
  font-weight: 500;
}

.component-paginaDetalhes .detalhesSegundoCabecalho .avaliacoes-infobox p {
  font-weight: 500;
}

.component-paginaDetalhes .detalhesSegundoCabecalho .avaliacoes-infobox .div-estrelas {
  margin-top: -0.55rem;
}

.component-paginaDetalhes .detalhesSegundoCabecalho .avaliacoes-infobox .avalicaoes-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.component-paginaDetalhes .detalhesSegundoCabecalho .avaliacoes-infobox .num-avaliacao {
  color: white;
  background-color: var(--secondary-deep-blue);
  font-weight: 500;
  font-size: 1.45rem;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 11px;
}

.component-paginaDetalhes .iconesContainer {
  margin-top: 2rem;
}

.component-paginaDetalhes .iconesContainer svg {
  size: 10rem;
}

.component-paginaDetalhes .iconesContainer button {
  margin: unset;
  padding: 0;
}

.component-paginaDetalhes .detalhesUltimoContainer h3 {
  color: var(--secondary-deep-blue);
}

.component-paginaDetalhes .detalhesUltimoContainer > div {
  margin-bottom: 1.5rem;
}

.component-paginaDetalhes .detalhesUltimoContainer .separador-box .separador {
  padding: 0.1rem;
  background-color: var(--primary-orange);
}

.component-paginaDetalhes .detalhesUltimoContainer .descricaoCampo {
  margin-top: 1rem;
}

.component-paginaDetalhes .detalhesUltimoContainer .descricaoCampo p {
  margin: unset;
}

.component-paginaDetalhes .detalhesUltimoContainer .tituloSecundario {
  padding-bottom: 0.5rem;
  margin-bottom: unset;
}

.component-paginaDetalhes .detalhesUltimoContainer .mapaCampo .localizao-texto p {
  margin: unset;
  font-weight: 500;
}

.component-paginaDetalhes .detalhesUltimoContainer .mapaCampo .localizao-texto p:nth-child(2) {
  margin-top: 1rem;
}

.component-paginaDetalhes .detalhesUltimoContainer .detalhes-main-holder .opcao-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.component-paginaDetalhes .detalhesUltimoContainer .detalhes-main-holder .opcao-div p {
  margin: unset;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */