.component-paginaDetalhes{

    div{

        div{
            button{
                background-color: transparent;
                border: unset;
            }
        }
    }

    .detalhesSegundoCabecalho{
        background-color: var(--secondary-grey);
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        height: 80px;
        display: flex;
        
        p{
            margin: unset;
        }

        .local-infobox{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            div{
                display: flex;
                flex-wrap: wrap;
                gap: 0.2rem;

                p{
                    color: var(--secondary-deep-blue);
                    font-weight: 500;
                }
            }
        }

        .avaliacoes-infobox{
            p{
                font-weight: 500;
            }

            .div-estrelas{
                margin-top: -0.55rem;
            }

           .avalicaoes-info{
               display: flex;
               gap: 0.5rem;
           }
            .num-avaliacao{
                color: white;
                background-color: var(--secondary-deep-blue);
                font-weight: 500;
                font-size: 1.45rem;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 12px;
                padding-right: 12px;
                border-radius: 11px;
            }
        }
    }

    .iconesContainer{

        margin-top: 2rem;
        svg{
            size: 10rem;
        }
        
        button{
            margin: unset;
            padding: 0;
        }
    }

    .detalhesUltimoContainer{
        h3{
            color: var(--secondary-deep-blue);
        }

        .separador-box{

            .separador{
                padding: 0.1rem;
                background-color: var(--primary-orange);
            }
        }

        .descricaoCampo{
            margin-top: 1rem;
        }

        .tituloSecundario{
            padding-bottom: 0.5rem;               
            margin-bottom: unset;
            
        }

        .mapaCampo{
            .localizao-texto{
                p{
                    margin: unset;
                    font-weight: 500;
                }

                p:nth-child(2){
                    margin-top: 1rem;
                }
            }
        }

        .detalhes-main-holder{
            margin-top: 1rem;

            .opcao-div{
                align-items: center;
                padding-top: 1rem;
                p{
                    margin: unset;
                    font-weight: 500;
                }

            
            }

            .info-div{
               p{
                margin-top: 0;
                margin-bottom: 1rem;
               }
            }

        }

    }

    
    
}




