.confirmacao-main-holder{
    background-color: var(--light-gray);


    .redondo, .form-dados{
        border-radius: 0.5rem;
    }

    & > .container{
        padding-top: 2rem;
        
        h4{
            color: var(--secondary-deep-blue);
        }
    }

    .confirmacao-conteudo{
        display: flex;
        gap: 2.5rem;
        margin-top: 12px;
        padding-bottom: 3rem;  
        & > div:nth-child(1){

            @media (max-width: 1024px){
                width: 70%;
            }
            
            .form-dados{
                background: var(--primary-white);
                width: 100%;
                flex-direction: column;
                flex-wrap: wrap;

                .column-1, .column-2{
                    width: 100%;
                    label{
                        margin: 10px;
                    }

                    input{
                        background-color: var(--secondary-grey);
                        width: 260px;
                        height: 40px;
                        border-radius: 6%;
                    }
                }
            }


            .confirmacao-calendario{
                .calendarioCampo{
                    background-color: var(--primary-white);

                    .rdrCalendarWrapper{
                        width: 100%;

                        .rdrDayToday{
                            .rdrDayNumber{
                                span:after{
                                    background-color: var(--primary-orange);
                                }
                            }
                        }  

                        .rdrDateDisplayWrapper{
                            background-color: var(--secondary-deep-blue);

                            .rdrDateInput{
                                input{
                                    color: var(--primary-orange);
                                    font-weight: bold;
                                }
                            }
                        }
                        .rdrMonth{
                            width: 50%;
                        }
                    }
                }
            }
        }

        & > div:nth-child(2){
            width: 35%;
            background-color: var(--primary-white);

            @media (max-width: 1024px){
                width: 40%;
            }
            
            .detalhes-confirmacao-box{
                display: flex;
                flex-direction: column;

                img{
                    width: 100%;
                    object-fit: cover;
                }

                .confirmacao-info{
                    padding: 1rem;

                    p,h4{
                        margin: unset;
                    }

                    p{
                        font-weight: 500;
                        color: var(--secondary-deep-blue);
                    }

                    h4{
                        margin-bottom: -3px;
                    }

                    .confirmacao-localizacao{
                        margin-top: 10px;
                        display: flex;
                        gap: 5px
                    } 
                    
                    .confirmacao-box-separator{
                        background-color: var(--primary-orange);
                        height: 2px;
                    }

                    .check-date{
                        display: flex;
                        justify-content: space-between;      
                        
                        p{
                            font-size: 20px;
                        }
                    }

                    .btn-confirmacao{
                        width: 100%;
                        padding: 0.75rem;
                    }

                }
            }
        }



    }

}


.separador{
    padding: 0.1rem;
    background-color: var(--primary-orange);
}