.select-input {
    position: relative;
    background-color: white;
    
    .icon svg path{
        fill: var(--terciary-dark-gray);
    }
    .imput-options {
        height: 100%;
        min-height: 38px;
        cursor: pointer;
        outline: none;
        border: none;
        background: none;
    }

    ul.options {
        width: calc(100% - 1rem);
        background-color: white;
        position: absolute;
        top: 60px;
        z-index: 1;

        li {
            border-bottom: 1px solid var(--light-gray);
            cursor: pointer;

            &:last-child {
                border-bottom: none;
                padding: 0 !important;
                margin: 0 !important;
            }

            &:hover {
                color: var(--primary-orange);

                svg path {
                    fill: var(--primary-orange);
                }
            }
        }
    }
}
