input {
    outline: none;
    border: unset;
}

.escondido{
    visibility: hidden;
}

.semDisplay{
    display: none;
}

.input-negativo{
    background-color: #FFE1E1;
    border-color: var(--primary-orange);

    &:focus {
        background-color: #FFE1E1;
    } 
}

.light-gray-bg {
    background-color: var(--light-gray);
}

.drop-down {
    z-index: 1;
}

.light-orange-bg-set{
    background: unset !important;
    background-color: var(--light-orange)  !important;
}

.flex-col-items-stretch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.redondo{
    border-radius: 0.5rem !important;
}