.default-header {
  height: 68px;
  background-color: white;
}

.default-header .sidebar-bkg {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #00000054;
  visibility: hidden;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.default-header .sidebar-bkg.sidebar-bkg-visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 821px) {
  .default-header .headerItem {
    display: none !important;
  }
}

.default-header .menu-header {
  display: none;
}

.default-header .menu-header button {
  border: unset;
  background-color: unset;
  padding: 0;
}

@media (max-width: 821px) {
  .default-header .menu-header {
    display: block;
  }
}

.default-header .logo-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.75rem;
}

.default-header .logo-slogan svg {
  cursor: pointer;
}

.default-header .logo-slogan .slogan {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: lighter;
  margin: unset;
  padding-bottom: 0.25rem;
}

@media (max-width: 767px) {
  .default-header .logo-slogan .slogan {
    display: none;
  }
}

.default-header .sidebar-holder {
  position: fixed;
  height: 100%;
  width: 0%;
  right: 0px;
  background-color: var(--primary-white);
  visibility: hidden;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.default-header .sidebar-holder.sidebar-visible {
  width: 42%;
  visibility: visible;
}

@media (max-width: 768px) {
  .default-header .sidebar-holder.sidebar-visible {
    width: 45%;
  }
}

@media (max-width: 580px) {
  .default-header .sidebar-holder.sidebar-visible {
    width: 50%;
  }
}

@media (max-width: 520px) {
  .default-header .sidebar-holder.sidebar-visible {
    width: 58%;
  }
}

@media (max-width: 420px) {
  .default-header .sidebar-holder.sidebar-visible {
    width: 65%;
  }
}

@media (max-width: 358px) {
  .default-header .sidebar-holder.sidebar-visible {
    width: 75%;
  }
}

.default-header .sidebar-holder .orange-box {
  height: 27%;
  background-color: var(--primary-orange);
}

.default-header .sidebar-holder .orange-box > div {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.default-header .sidebar-holder .orange-box > div > button {
  border-style: unset;
  padding: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: unset;
}

.default-header .sidebar-holder .orange-box div:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-bottom: unset;
}

.default-header .sidebar-holder .orange-box div:nth-child(2) .sidebar-span-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.default-header .sidebar-holder .orange-box div:nth-child(2) .sidebar-span-holder div {
  width: 50%;
}

.default-header .sidebar-holder .orange-box div:nth-child(2) .sidebar-span-holder span {
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  font-weight: 500;
  margin-bottom: 8px;
}

.default-header .sidebar-holder .orange-box div:nth-child(2) .sidebar-span-holder span.open-animation {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  -webkit-animation: open-animation 1s;
          animation: open-animation 1s;
}

.default-header .sidebar-holder .orange-box div:nth-child(2) .sidebar-span-holder span.close-animation {
  -webkit-animation: close-animation 250ms;
          animation: close-animation 250ms;
}

.default-header .sidebar-holder .orange-box.become-visible {
  opacity: 1;
}

.default-header .sidebar-holder .header-second-section {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.default-header .sidebar-holder .header-second-section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: flex-end;
  width: 100%;
  gap: 0.5rem;
  margin-top: 1.5rem;
  opacity: 0;
  -webkit-transition: all ease-in-out 3s;
  transition: all ease-in-out 3s;
}

.default-header .sidebar-holder .header-second-section > div > a {
  color: black;
  font-weight: 500;
}

.default-header .sidebar-holder .header-second-section > div .sidebar-section-separator {
  padding: 1px;
  width: 100%;
  background-color: black;
}

.default-header .sidebar-holder .header-second-section > div.open-animation {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  -webkit-animation: open-animation 0.5s;
          animation: open-animation 0.5s;
}

.default-header .sidebar-holder .header-second-section > div.close-animation {
  -webkit-animation: close-animation 250ms;
          animation: close-animation 250ms;
}

@-webkit-keyframes open-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes open-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes close-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes close-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */