.detalhesCabecalho{
    background-color: var(--terciary-dark-gray);
    padding-top: 0.6rem;
    padding-bottom:0.6rem;
    min-height: 78px;

    .cabecalhoTexto{
        color: var(--primary-white);
        p{
            margin: unset;
            font-weight: 500;

        }

        .component-title{
            font-weight: 600;
            
            &.not-sigle {
                font-size: 1.4rem;
            }

            &.no-margin{
                margin: unset;
            }
        }
    }

    .goback-btn {
        border: none;
        background: none;
    }
}