.component-user-header{
    p{
        margin: unset;
        font-weight: 500;

        &.texto-inferior{
            color: var(--primary-orange)
        }
    }

    .x-icon{
        cursor: pointer;
    }

    .first-char{
        height: 48px;
        width: 48px;
        background-color: var(--primary-orange);
        border-radius: 25px;
        font-size: 2rem;
        color: white;
        font-weight: bold;
        opacity: .8;
    }
}