.component-search-bar {
    & * {
        z-index: 1;
    }
    background-color: var(--terciary-dark-gray);
    
    .title {
        color: white;
    }
    .search-bar-content{
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

}